.singleTodo {
	max-width: 60%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--dark-violet);
	color: whitesmoke;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
}

.iconsWrapper {
	max-width: 25%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.icon {
	font-size: 1.5rem;
	cursor: pointer;
	color: wheat;
	transform: 0.5s all;
}

.icon:hover {
	transform: scale(1.3);
}

.todoDone {
	text-decoration-line: line-through;
	text-decoration-style: solid;
	text-decoration-thickness: 0.4rem;
	text-decoration-color: var(--green);
}

.iconsWrapper button {
	transform: 0.5s all;
}

.iconsWrapper button:hover {
	transform: scale(1.3);
}

.editTodo {
	font-size: inherit;
	outline: none;
	background: var(--blue-purple);
	border: none;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	margin: 0.5rem;
	display: flex;
	max-width: 20rem;
	width: 100%;
}
